---
import '../styles/global.css';

interface Props {
	title: string;
	description: string;
	image?: string;
}

const { title, description, image = '/blog-placeholder-1.jpg' } = Astro.props;

const canonicalURL = new URL(Astro.url.pathname, Astro.site);
const isSpanish = Astro.url.pathname.startsWith('/es');
---

<meta charset="utf-8" />
<meta name="viewport" content="width=device-width,initial-scale=1" />
<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
<meta name="generator" content={Astro.generator} />

<link rel="preload" href="/fonts/atkinson-regular.woff" as="font" type="font/woff" crossorigin />
<link rel="preload" href="/fonts/atkinson-bold.woff" as="font" type="font/woff" crossorigin />

<link rel="canonical" href={canonicalURL} />

<link rel="alternate" hreflang="en" href={new URL('/', Astro.site)} />
<link rel="alternate" hreflang="es" href={new URL('/es/', Astro.site)} />
<link rel="alternate" hreflang="x-default" href={new URL('/', Astro.site)} />

<title>{title}</title>
<meta name="title" content={title} />
<meta name="description" content={description} />

<meta property="og:type" content="website" />
<meta property="og:url" content={Astro.url} />
<meta property="og:title" content={title} />
<meta property="og:description" content={description} />
<meta property="og:image" content={new URL(image, Astro.url)} />
<meta property="og:locale" content={isSpanish ? "es_ES" : "en_US"} />

<meta property="twitter:card" content="summary_large_image" />
<meta property="twitter:url" content={Astro.url} />
<meta property="twitter:title" content={title} />
<meta property="twitter:description" content={description} />
<meta property="twitter:image" content={new URL(image, Astro.url)} />
